*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
    background-color: #0c0b0b;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 60px;
    color: rgb(203, 214, 223);
    
}